extends layout

block content
  h1= title
  #number_cnt=number + '명'
  #owner(style="display:none")=owner
  button#exit-btn 방 나가기
  fieldset
    legend 채팅 내용
    #chat-list
      for chat in chats
        if chat.user === user
          .mine(style='color:' + chat.user)
            div= chat.user
            if chat.gif
              img(src='/gif/' + chat.gif)
            else
              div= chat.chat
        else if chat.user === 'system'
          .system
            div= chat.chat
        else
          .other(style='color:' + chat.user)
            div= chat.user
            if chat.gif
              img(src='/gif/' + chat.gif)
            else
              div= chat.chat
  form#chat-form( enctype='multipart/form-data')
    label(for='gif') GIF 올리기
    input#gif(type='file' name='gif' accept='image/gif')
    input#chat(name='chat')
    button(type='submit') 전송
  form#hidden-chat-form(action='/chat', method='post')
    label(for='otherId') 상대아이디
    input#otherId(name='otherId')
    input#hiddenChat(name='hiddenChat')
    button(type='submit') 전송
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://localhost:8005/chat', {
      path: '/socket.io'
    });
    //- 서버에서 보내는 join 이벤트
    socket.on('join', function (data) {
      var num = document.getElementById('number_cnt')
      num.textContent = data.number +'명';
      var div = document.createElement('div');
      div.classList.add('system');
      var chat = document.createElement('div');
      div.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });
    //- 서버에서 보내는 exit 이벤트
    socket.on('exit', function (data) {
      var num = document.getElementById('number_cnt')
      num.textContent = data.number +'명';
      var div = document.createElement('div');
      div.classList.add('system');
      var chat = document.createElement('div');
      div.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });
    //- 서버에서 보내는 chat 이벤트.
    socket.on('chat', function (data) {
      var div = document.createElement('div');
      if (data.user === '#{user}') {
        div.classList.add('mine');
      } else {
        div.classList.add('other');
      }
      var name = document.createElement('div');
      name.textContent = data.user;
      name.className= 'chat-user';
      var owner = document.getElementById('owner');
      owner.textContent = data.roomOwner;
      if (data.user !== "#{user}"){
        var dm = document.createElement('button');
        dm.textContent = "귓속말";
        dm.className = 'dm';
        dm.dataset.socket = data.socket;  // 서버에서 넘어옴. {socket : req.body.sid }
        dm.addEventListener('click', sendDM);
        name.appendChild(dm);
        console.log("HERE", data.user, data.roomOwner);
        if ( data.user !== owner.textContent) {
          var out = document.createElement('button');
          out.textContent = "강퇴";
          out.className ='out';
          out.dataset.socket = data.socket; // 서버에서 넘어옴. {socket : req.body.sid }
          out.addEventListener('click', sendOut);
          name.appendChild(out);
        }
      }
      div.appendChild(name);
      if (data.chat) {
        var chat = document.createElement('div');
        chat.textContent = data.chat;
        div.appendChild(chat);
      } else {
        var gif = document.createElement('img');
        gif.src = '/gif/' + data.gif;
        div.appendChild(gif);
      }
      div.style.color = data.user;
      document.querySelector('#chat-list').appendChild(div);
    });
    document.querySelector('#chat-form').addEventListener('submit', function (e) {
      e.preventDefault();
      if (e.target.chat.value) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
          if (xhr.status === 200) {
            e.target.chat.value = '';
          } else {
            console.error(xhr.responseText);
          }
        };
        xhr.open('POST', '/room/#{room._id}/chat');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({ chat: this.chat.value, sid: socket.id })); // 채팅 보낼 때 나의 id 도 같이 보내기.
        document.getElementById('chat').value=''; // clear input field after submitting.
      }
    });
    document.querySelector('#gif').addEventListener('change', function (e) {
      var formData = new FormData();
      var xhr = new XMLHttpRequest();
      console.log(e.target.files);
      formData.append('gif', e.target.files[0]);
      xhr.onload = function () {
        if (xhr.status === 200) {
          e.target.file = null;
        } else {
          console.error(xhr.responseText);
        }
      };
      xhr.open('POST', '/room/#{room._id}/gif');
      xhr.send(formData);
    });
    var sendDM = function (e) {
      var id = e.target.dataset.socket;
      var prompt = window.prompt("귓속말을 입력하세요");
      socket.emit('dm', {target: id, msg: prompt, from: "#{user}"}) // 여기서 바로 socket.emit을 하기보다 라우터를 타서 라우터에서 socket.emit 하는게 나아보임.
    };
    Array.prototype.forEach.call(document.querySelectorAll('.dm'), function (e) {
      e.addEventListener('click', sendDM);
    });
    socket.on('dm', function (data) {
      alert(data.from + '님에게서 귓속말이 도착했습니다.' + data.msg);
    });
    var sendOut = function (e) {
      var result = window.confirm("강퇴하시겠습니까?");
      if (result) {
        var id = e.target.dataset.socket;
        socket.emit('out', {target: id, from: "#{user}"})
      }
    };
    socket.on('out', function (data) {
      alert(data.from + '님이 강퇴했어요.');
      socket.disconnect();
      window.location = '/';
    });
    document.querySelector('#hidden-chat-form').addEventListener('submit', function (e) {
      e.preventDefault();
      if (e.target.hiddenChat.value) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
          if (xhr.status === 200) {
            e.target.hiddenChat.value = '';
          } else {
            console.error(xhr.responseText);
          }
        };
        xhr.open('POST', '/room/#{room._id}/hiddenchat');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({ otherId: this.otherId.value, chat: this.hiddenChat.value }));
        document.getElementById('hiddenChat').value=''; // clear input field after submitting.
        document.getElementById('otherId').value='';
      }
    });
    document.querySelector('#exit-btn').addEventListener('click', function (e) {
      console.log("SOCKET : ", socket);
      socket.disconnect(); // disconnect 를 먼저 시킨 후에, main page 로 돌아가겠다. why? 그래야 라우터를 먼저 거침.
      location.href = '/';
    });